@import url('https://fonts.googleapis.com/css?family=Raleway');

body,a,a:visited {
    margin: 0; 
    padding: 0; 
    color: #000; 
    text-decoration: none; 
    font-family: 'Raleway', sans-serif; 
}

#container {
    width: 100vw; 
    height: 100vh; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap; 
}

#container a {
    margin: 10px; 
    height: 25%; 
    width: 25%; 
    min-width: 200px; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-size: 3em;
    color: white; 
    background: #2196f4; 
}